@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background: rgba(249, 249, 249, 1);
}
.bgimg2{
  background-image: url(./img/bgimgg.png);
 
  background-size: cover;
}
.bgimg{
  background-image: url(./img/bgimg.png);
}
.bgimg3{
  background-image: url(./img/bgimg6.png);
  background-position: center;
    background-size: cover;
}
.bgimg4{
  background-image: url(./img/bgimg9.png);
  background-position: center;
    background-size: cover;
}
.bgimg5{
  background-image: url(./img/bgimg12.png);
  background-position: center;
    background-size: cover;
}